# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/
coverage/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency directories
bower_components/

# Optional npm cache
.npm/

# Yarn
.yarn/
.pnp.*


test-db.js
jetuor.sql